// @section Configuration Settings
// Adjust colors, font stacks, breakpoints and sizing.
//


// Colors
$color-primary: #011627;
$color-secondary: #EFFFE9;
$color-fiery: #E71D36;
$color-muted:#2EC4B6;
$color-black: #272727;
$color-white: #ffffff;



// Font Stacks
$font-primary: "Helvetica Neue", Arial, sans-serif;
$font-secondary: Georgia, Times, serif;
$font-monospace: Menlo, Monaco, "Courier New", monospace;


// Sizing
$font-size-base: 100%;
$font-size-xlarge-screens: 125%;
$spacing: 1.250em;
$text-max-width: 32em;


