{% extends 'layout.html' %}

{% block content %}
<section>
    <p>I am a Software Engineer with a passion for the Free and Open Source communities, currently working for the Visual Effects industry, and I mainly code in Python. <a href="/about.html">More about me</a></p>
</section>

<section>
    {% for post in posts %}
        <h2 class="post-title"><a href="{{ get_url(post.url) }}">{{ post.title }}</a></h2> <span >{{ post.date }}</span><br>
        <div class="post-tags">
            {% if post.tags %} <span>Tags »</span> {% for tag in post.tags %}<a href="{{ get_url(posts.tags[tag].url) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}
        </div>

    {% endfor %}
</section>
{% endblock %}

