/**
* Main Section Blocks, intros, works and blog are here. 
**/
.block {
  margin: $spacing $spacing $spacing*3 $spacing;
}


.block__elem {
  width:98%;
  max-width:32em;
  display: inline-block;

}

.block__image {
  width:100%;
}


.block__text {
  color:$color-primary;
  width:98%;
  max-width:$text-max-width;

}


.block__text--intro {
  color:$color-primary;
  width:98%;
  max-width:$text-max-width;
  margin:$spacing 0 $spacing*3 0;

}


.block__text--quote {
  color:$color-primary;
  width:98%;
  max-width:$text-max-width;
  margin:$spacing/2 0 $spacing*2 0;
  font-style: italic;
}


.block__text--twoCol {
  color:$color-primary;
  width:98%;
  max-width:$text-max-width;
  margin:$spacing 0 $spacing*3 0;
  display:inline-block;
  vertical-align: top;
  padding-left:$spacing;

}


.block__link {
 color: $color-primary;
 text-decoration:none;

}


.block__link:hover {
  color:$color-fiery;
  text-decoration: underline;
}




/**
* Works section of the homepage.
**/
.block__works {
  height: 90px;
  overflow: hidden;
  position: relative;
  background: cover no-repeat;
  background-size: 100%;

}


.block__text--overlay {
  color:$color-primary;
  display: table;
  width:100%;
  height: 100%;
  left: 0;
  opacity: 1;
  position: absolute;
  text-align: center;
  right: 0;
  top: 0;
  padding-top:$spacing;
  z-index: 100;
  font-size:1.5em;

}


.block__works:hover .block__text--overlay {
  background: rgba(0,0,0,0.4);
  color: $color-fiery;
  opacity:1;
  transition: 0.4s background;
}


.block__img {
 width:100%;
 text-align:center;

}




/**
* Blog section of the homepage.
**/
.block__post {
 display:block;
 margin-bottom: $spacing * 2;

}


.block__title {
 margin:0;
}


.block__subtitle {
  margin-bottom:0;
}


.block__excerpt {

}


.block__meta {
  font-size:0.8em;
}


.block__readMore {
  font-size: 0.7em;
  font-family:$font-secondary;

}




/**
* Blog page - page.
**/

.block--blog {
  margin: $spacing;
  display:inline-block;
  width:70%;

}


.block--sidebar {
  margin: $spacing;
  padding-top:$spacing;
  display:inline-block;
  width:100%;
  max-width:14em;
  float:right;

}




/**
* Works Page
**/
.block__works--page {
  width:98%;
  max-width:100%;

}