@font-face {
    font-family: 'Crimson Pro';
    src: local('Crimson Pro Medium Italic'), local('CrimsonPro-MediumItalic'),
        url('CrimsonPro-MediumItalic.woff2') format('woff2'),
        url('CrimsonPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Crimson Pro';
    src: local('Crimson Pro Medium'), local('CrimsonPro-Medium'),
        url('CrimsonPro-Medium.woff2') format('woff2'),
        url('CrimsonPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crimson Pro';
    src: local('Crimson Pro Bold'), local('CrimsonPro-Bold'),
        url('CrimsonPro-Bold.woff2') format('woff2'),
        url('CrimsonPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crimson Pro';
    src: local('Crimson Pro Regular'), local('CrimsonPro-Regular'),
        url('CrimsonPro-Regular.woff2') format('woff2'),
        url('CrimsonPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Fira Mono';
    src: local('Fira Mono Medium'), local('FiraMono-Medium'),
        url('FiraMono-Medium.woff2') format('woff2'),
        url('FiraMono-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
