@font-face {
    font-family: 'Nanum Gothic';
    src: local('NanumGothicBold'),
    url('fonts/NanumGothicBold.woff2') format('woff2'),
    url('fonts/NanumGothicBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: local('Spectral Bold'), local('Spectral-Bold'),
    url('fonts/Spectral-Bold.woff2') format('woff2'),
    url('fonts/Spectral-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nanum Gothic';
    src: local('NanumGothic'),
    url('fonts/NanumGothic.woff2') format('woff2'),
    url('fonts/NanumGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: local('Spectral Regular'), local('Spectral-Regular'),
    url('fonts/Spectral-Regular.woff2') format('woff2'),
    url('fonts/Spectral-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* { margin:0; padding:0; box-sizing:border-box; }

html {
    font-family: Spectral, "Times New Roman", Times, serif;
    background-color: hsla(0, 0%, 100%, 1);
}

body {
    width: 80%;
    min-height: 100%;
    max-width:1170px;
    text-align: left;
    margin:0 auto;
}

ul li {
    list-style: none;
}

nav {
    padding-top:20px;
    padding-bottom:20px;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
}

nav ul li {
    color:grey;
}

main {
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;
}

section {
    box-sizing: border-box;
    font-size: 18px;
    max-width: 630px;
    padding-top:20px;
    padding-bottom:20px;
}

section p {
    margin-bottom:10px;
}

a {
    text-decoration: none;
    font-family: 'Nanum Gothic', Cantarell, sans-serif;
    font-size:16px;
    font-weight: bold;
    color: hsla(2.5, 54.3%, 56.3%, 1);
}

h1,
h1 a {
    font-size: 1.5em;
}

h2 {
    font-family: 'Nanum Gothic', Cantarell, sans-serif;
    padding-bottom: 20px;
    text-align: center;
} 


a:visited {
    color: hsla(2.5, 54.3%, 56.3%, 1);
}

h1 a {
    color: hsla(2.5, 54.3%, 56.3%, 1);
}


.section__resolutions {
    padding:0;
    max-width:360px;
}

.section__resolutions--inner {
    padding:20px;
    background-color: hsla(2, 47%, 60%, 0.15);
}

.section__resolutions ul{
    padding-left: 10px;
    padding-bottom: 10px;

}

.section__resolutions-border {
    display:flex;
    flex-direction: row;
}
.triangle-up,
.triangle-down {
    flex: 0 1 auto;
} 

@media screen and (max-width: 449px) {

    h1 {
      max-width: 250px;
  }

  .triangle-up {
     width: 0;
     height: 0;
     border-left: calc(84vw * 18 / 360) solid transparent;
     border-right: calc(84vw * 18 / 360) solid transparent;
     border-bottom: calc(84vw * 18 / 360) solid hsla(2, 47%, 60%, 0.15);
 }

 .triangle-up {
     width: 0;
     height: 0;
     border-left: calc(84vw * 18 / 360) solid transparent;
     border-right: calc(84vw * 18 / 360) solid transparent;
     border-bottom: calc(84vw * 18 / 360) solid hsla(2, 47%, 60%, 0.15);
 }
}



@media screen and (min-width: 450px) {
  .triangle-up {
   width: 0;
   height: 0;
   border-left: 18px solid transparent;
   border-right: 18px solid transparent;
   border-bottom: 18px solid hsla(2, 47%, 60%, 0.15);
}
.triangle-down {
   width: 0;
   height: 0;
   border-left: 18px solid transparent;
   border-right: 18px solid transparent;
   border-top: 18px solid hsla(2, 47%, 60%, 0.15);
}
}

@media screen and (min-width: 630px) {
  section {
    max-width:630px;
}
}

@media screen and (min-width: 800px) {
  body {
    width: 90%;
}

main {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}

nav {
    margin: 0 auto;
}
}

@media screen and (min-width: 800px) and (max-width:1130px) {
  section:first-child {
    padding-right:20px;
}
}

