{% extends 'layout.html' %}

{% block content %}
<section>
    <p>I am a Software Engineer with a passion for the Free and Open Source communities, currently working for the Visual Effects industry, and I mainly code in Python.</p>
    
    <p>
      Previous to my endeavours in the Visual Effects industry, I was a front-end developer, so I know a bit of HTML, CSS and Javascript. I have learnt C in the past year and I am looking into learning C++.
    </p>

    <p>I go by the alias "minkiu", so if you find a profile with that handle and an owl as profile picture, chances are it's me, that said you can find me in <a href="https://www.linkedin.com/in/oscardomingoramos/">LinkedIn</a>, <a href="https://github.com/Minkiu">Github</a>, <a href="https://mastodon.social/@minkiu">Mastodon</a> (I am on <a href="https://twitter.com/minkiu">Twitter</a> too, but I have been more active in the fediverse, join us!).</p>
</section>
{% endblock %}

