<!DOCTYPE html>

<html class="no-js">
<head>
    {% include 'page.header.html' %}

    {% if site.title %}<title>{% if title %}{{ title }} – {% endif %}{{ site.title }}{% if not title and site.subtitle %} – {{ site.subtitle }}{% endif %}</title>{% endif %}
</head>

<body>
  <header>
    <h1 title="{{ title }}"><a href="/">{{ title }}</a></h1>
    <nav>
      <ul>
        <li><a href="{{ get_url('works/') }}">Works</a></li>
        <li><a href="{{ get_url('archives/') }}">Archives</a></li>
        <li><a href="{{ get_url('feed.xml') }}">Feed</a></li>
      </ul>
    </nav>
  </header>


  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>

